<%= render 'layouts/signup' %>
<h1 style="margin-left: 20px;">Log In</h1>
<div style="margin-left: 20px;">
<%= form_with url: "/login" do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Log In' %>
  </div>
<% end %>
</div>