<h1><center>Teacher Detail Update Page</center></h1>

<div style="margin-left: 20px;">



<%= form_with model: @teacher_detail do |form| %>
  <div>
    <%= form.label :date_of_birth %><br>
    <%= form.date_field :date_of_birth %>
  </div>
  <br>
  <div>
    <%= form.label :salery %><br>
    <%= form.number_field :salery %>
  </div>
   <div>s
    <%= form.label :user_id %><br>
    <%= form.number_field :user_id %>
  </div>
   <br>
  <div>
    <%= form.label :subject_id %><br>
    <%= form.number_field :subject_id %>
  </div>
  <!-- <div style="border-color: black;"> 
     <p>"use 1 for hindi</p>"
     <p>"use 2 for english</p>"
     <p>"use 3 for mathes</p>"
     <p>"use 4 for science</p>"
     <p>"use 5 for evm</p>"
    </div> -->
  
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>