<h1><center>Teacher Detail Update Page</center></h1>

<div style="margin-left: 20px;">



<%= form_with model: @teacher_detail do |form| %>
  <div>
    <%= form.label :date_of_birth %><br>
    <%= form.date_field :date_of_birth %>
  </div>
  <br>
  <div>
    <%= form.label :salery %><br>
    <%= form.number_field :salery %>
  </div>
   <div>
    <%= form.label :user_id %><br>
    <%= form.number_field :user_id %>
  </div>
   <br>
  <div>
    <%= form.label :subject %>
    <%= form.select :role,["hindi"  , "english" , "mathes" , "science" , "evm"] %>
  </div>

  
  
    <br>
     
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>