<h1>Login</h1>

<%= form_with url: session_index_path, scope: :session do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, required: true%><br>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, required: true%><br>
    </div>
    <div>
      <%= f.submit "Log in"%>
    </div>

<% end %>
    